<h1 class="center">Listing all the articles</h1>

<div align="center">
<%= will_paginate %>
</div>


<%= render 'layouts/articles', obj: @articles %>  
              
<div align="center">
<%= will_paginate %>
</div>