<h1 class="center">Create a new Article</h1>

<%= render 'layouts/form' %>

 <div class="col-xs-4 col-xs-offset-4">
    [<%= link_to "Cancel form and go back to article listing", articles_path %>]
  </div>